/* mixins */
@use 'sass:map';
@use '../abstracts/variables' as *;

@mixin media-max($mediaWidth) {
  @media only screen and (max-width: $mediaWidth) {
    @content;
  }
}

@mixin media-min($mediaWidth) {
  @media only screen and (min-width: $mediaWidth) {
    @content;
  }
}

@mixin media-distance($mediaWidthMin, $mediaWidthMax) {
  @media only screen and (min-width: $mediaWidthMin) and (max-width: $mediaWidthMax - 1) {
    @content;
  }
}

@mixin bp-desktop-xs-min {
  @media only screen and (min-width: map.get($breakpoints, desktop-xs)) {
    @content;
  }
}

@mixin bp-tablet-max {
  @media only screen and (max-width: map.get($breakpoints, tablet)) {
    @content;
  }
}

@mixin bp-tablet-min {
  @media only screen and (min-width: map.get($breakpoints, tablet-xs)) {
    @content;
  }
}

@mixin bp-mobile-max {
  @media only screen and (max-width: map.get($breakpoints, mobile)) {
    @content;
  }
}

@mixin bp-mobile-min {
  @media only screen and (max-width: map.get($breakpoints, mobile-xs)) {
    @content;
  }
}

@mixin px-container {
  margin: 0 auto;
  padding: 0 12rem;
  max-width: 336rem;
  position: relative;

  @include bp-tablet-min {
    max-width: 736rem;
    padding: 0 24rem;
  }

  @include bp-desktop-xs-min {
    max-width: 1170rem;
  }
}
